$properties: (
  ria: #00235a,
  fontanka: #ee8d39,
  tass: #221f74,
  regnum: #194583,
  interfax: #009b80,
  rosbalt: #438b57,
  korrespondent: #f73033,
  radioSvoboda: #ea6903,
  prime: #003067,
  rt: #77bc1f,
);
