title NewsBucket | Новости
meta(property="og:title", content="NewsBucket")
meta(property="og:type", content="website")
meta(property="og:url", content="https://newsbucket.ru")
meta(property="og:description", content="Новости от ведущих информационных агенств.")
meta(property="og:image", content="https://newsbucket.ru/og.png")
meta(property="og:locale" content="ru_RU")
meta(charset="utf-8")
meta(name="description", content="Новости от ведущих информационных агенств: РИА Новости, Радио Свобода, Интерфакс, Фонтанка, Корреспондент.net, ТАСС, ПРАЙМ, REGNUM, РОСБАЛТ, RT")
meta(name="keywords" content="news bucket риа новости радио свобода интерфакс фонтанка корреспондент тасс прайм regnum росбалт rt")
meta(name="theme-color", content="#ffffff")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")
include statics