title NewsBucket | Новости
meta(property="og:title", content="NewsBucket")
meta(property="og:type", content="website")
meta(property="og:url", content="https://newsbucket.ru")
meta(property="og:description", content="Новости от ведущих информационных агентств.")
meta(property="og:image", content="https://newsbucket.ru/og.png")
meta(property="og:locale" content="ru_RU")
meta(charset="utf-8")
meta(name="description", content="Новости от ведущих информационных агентств: РИА Новости, Радио Свобода, Интерфакс, Фонтанка, Корреспондент.net, ТАСС, ПРАЙМ, REGNUM, РОСБАЛТ, RT")
meta(name="keywords" content="news bucket риа новости радио свобода интерфакс фонтанка корреспондент тасс прайм regnum росбалт rt")
meta(name="theme-color", content="#ffffff")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-113941901-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113941901-1');
script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
script.
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1243676077717180",
    enable_page_level_ads: true
  });
include statics