link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#fff")
link(rel="manifest", href="/manifest.json")
link(
    rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css",
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb",
    crossorigin="anonymous")
link(rel='stylesheet', href='/styles/main.css')