nav.navbar.navbar-expand-md.navbar-light
    div.container
        a.navbar-brand.(href='/') NewsBucket
            small.text-danger .beta
        h1.main-title Новости от ведущих информационных агентств