.card-columns {
  column-count: 3;

  @media (max-width: 992px) {
    column-count: 2;
  }

  @media (max-width: 768px) {
    column-count: 1;
  }
}

.main-title {
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  color: #333;
  line-height: 1;
  margin: 0;
}
